#nav-bar{
    width: 100%;
    display: flex;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: #ffffff;
}
#nav-bar ul{
width: 100%;
display: flex;
justify-content: flex-end;
align-items: flex-end;
flex-wrap: wrap;
}
#nav-bar li{
list-style: none;
padding: 15px 0px;
}
#nav-bar li a{
    padding: 12px 12px;
    color: black;
}
#nav-bar ul a:hover{
color: white;
background-color: black;
}
#nav-bar{
    display: none;
}