.body{
    position: relative;
}
#nav-bar-responsive {
    width: 100%;
    height: auto;
    text-align: end;
    position: fixed;
    z-index: 500;
    background-color: white;
    border-bottom: 1px solid rgb(218, 218, 218);
}
.logo{
    position: absolute;
    top:0;
    left: 0;
}
#nav-bar-responsive label{
    padding: 15px 15px;
} 
#nav-bar-responsive label,#hamburger{
    display: none;
}
#nav-bar-responsive ul{
    display: flex;
    justify-content: flex-end;
}
#nav-bar-responsive li{
    padding: 15px 0px;
}
#nav-bar-responsive li a{
    padding: 12px 12px;
    color: black;
}
#nav-bar-responsive ul a:hover{
    color: white;
    background-color: black;
}
@media (max-width: 700px) {
    #nav-bar-responsive label{
        display: block;
        cursor: pointer;
    }
    #nav-bar-responsive ul{
        padding: 0;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        display: none;
    }
    #nav-bar-responsive ul li{
        border:1px solid rgb(235, 235, 235);
    }
    #hamburger:checked + ul{
        display: block;
    }
    
}